{% extends 'Biblioteka/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% for ksiazka in wszystkie_ksiazki %}
    {% if ksiazka.czy_aktywna %}
        <div class="card mb-3" style="max-width: 540px; min-width:532px;">
        <div class="row no-gutters">
        <div class="col-md-4">
            <img src="zdjecia/{{ ksiazka.zdjecie }}" class="card-img" alt="{{ksiazka.tytul}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">{{ ksiazka.tytul }}</h4>
                <p class="card-text">Autor: {{ ksiazka.autor }}</p>
                <p class="card-text">Data premiery: {{ ksiazka.data_premiery }}</p>
                <p class="card-text">Okładka {{ ksiazka.typ_okladki }}</p>
                <p class="card-text">Liczba stron: {{ ksiazka.liczba_stron }}</p>
                <p class="card-text">Wydawnictwo: {{ ksiazka.wydawnictwo }}</p>
                <p class="card-text">Dodana przez: {{ ksiazka.uzytkownik }}</p>
                <p class="card-text"><small class="text-muted">Dodano {{ ksiazka.data_publikacji }} </small></p>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}
</div>