{% extends 'Biblioteka/base.html' %}
{% load static %}
{% block title %} Dodaj nową książkę {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="card card-center" style="width: 18rem;">
    <div class="card-body form-card">
        <h3 class="card-title">Nowa książka</h3>
        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Dodaj książkę">
        </form>
    </div>
</div>
{% endif %}
{% endblock %}