.navbar{
    width:50%;
    display:block;
    text-allign:center;
    font-size:23px;
}
ul {
    display:flex;
    margin:0;
    padding:0;
    list-style-type:none;
}
nav a {
    display:block;
    text-decoration:none;
    color:white;
}
nav a:hover{
    text-decoration:none;
    color:white;
}
.navbar{
    background-color:#26619c;
    text-align:center;
}
.navbar:hover{
    background-color:red;
}
.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.card{
    flex:1;
    margin:1%;
}
header{
    background-color: #005C9A;
    height:150px;
}
h1 {
    color: white;
    margin-left:6%;
    padding-top:3%;
    font-family: "Lucida Console", Courier, monospace;
}
.form-card {
    text-align:center;
}
.card-center{
    text-align:center;
}
.card-body{
    text-align:center;
}
